<ul>
    <li>Mitacs Internship at Ericsson (Montreal), 2024 - 2025</li>
    <li>TA in Concordia University
        <ul>
            <li>SOEN 691 Software Debugging and Repair, Fall 2025</li>
            <li>SOEN 390 Software Engineering Team Design Project, Winter 2024</li>
            <li>SOEN 490 Capstone Design Project, Fall 2022, Winter 2023</li>
            <li>SOEN 341 Software Process, Fall 2021, Winter 2022</li>
            <li>COMP 248 Object-Oriented Programming I, Winter 2020, Winter 2021, Fall 2025</li>
        </ul>
    </li>
    <li>Software engineer at 老柚多汁互联网信息服务有限公司, 2018 - 2019</li>
    <li>Internship at Red Hat (Beijing) <a href="https://access.redhat.com/labs/">Customer Portal Labs</a>, 2017 - 2018</li>
</ul>