<div style="display:flex;">
    <div>
        <p>
            I am a Ph.D. student in 
            <a href="http://csrankings.org/#/index?soft&world">Software Engineering</a> in 
            <a href="https://www.concordia.ca/">Concordia University</a>, 
            supervised by <a href="https://jinqiuyang.github.io/">Dr. Jinqiu Yang</a>. 
        </p>
        <p>
            My current research is about the quality assurance of autonomous driving systems. 
            My past research was about automated program repairing and software testing.
        </p>
    </div>
    <img src="/images/profile.jpg" style="max-width:25%;height:fit-content;"/>
</div>
