<div>
    <p>
        <a href="https://2021.esec-fse.org/"><strong>FSE-21</strong></a>&emsp;<a href="https://jinqiuyang.github.io/papers/fse21-test-ignore.pdf">How Disabled Tests Manifest in Test Maintainability Challenges?</a>
        Dong Jae Kim*, <strong>Bo Yang*</strong>, Jinqiu Yang, and Tse-Hsun (Peter) Chen. (*The first two authors contributed equally to this paper.)
        <small><em>In the proceedings of the 43rd International Conference on Software Engineering</em></small>
    </p>

    <p><a href=""><strong>IBF-20</strong></a>&emsp;<a href="https://jinqiuyang.github.io/papers/ibf20.pdf">
        Exploring the Differences between Plausible and Correct Patches at Fine-Grained Level</a><br>
        <strong>Bo Yang</strong>, Jinqiu Yang.
        <small><em>In the proceedings of the Second International Conference on Intelligent Bug Fixing, 2020</em></small>
    </p>
</div>
